/.idea
/.vs
/.vscode
/src/Letter/bin
/src/Letter/obj
/src/Letter.IO/obj
/src/Letter.IO/bin
/src/Letter.Tcp/obj
/src/Letter.Tcp/bin
/src/Letter.Kcp/obj
/src/Letter.Kcp/bin
/src/Letter.Quic/obj
/src/Letter.Quic/bin
/src/Letter.Udp/obj
/src/Letter.Udp/bin
/test/tcp_test1/obj
/test/tcp_test1/bin
/test/udp_text/obj
/test/udp_text/bin
/examples/udp_command/bin
/examples/udp_command/obj
/examples/tcp_server/bin
/examples/tcp_server/obj
/examples/tcp_command/obj
/examples/tcp_command/bin
/examples/tcp_client/obj
/examples/tcp_client/bin
/examples/common/obj
/examples/common/bin
/examples/dotnetty_client_test/bin
/examples/dotnetty_client_test/obj
/examples/dotnetty_server_test/obj
/examples/dotnetty_server_test/bin
/examples/kcp_test/bin
/examples/kcp_test/obj
